<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Најави се!</h4>
                        <ul class="list-unstyled">
                            <li> <a class="nav-link text-white" href="/login">Најави се</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Придружи ни се!</h4>
                        <ul class="list-unstyled">
                            <li><a href="/register" class="nav-link text-white">Регистрирај се</a></li>                        </ul>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Дома</h4>
                        <ul class="list-unstyled">
                            <li><a class="nav-link text-white" href="/home">Почетна</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>За нас</h4>
                    <ul class="social-network social-circle">
<!--                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>-->
                        <li><a href="https://www.linkedin.com/in/sandra-stojanovska-645585206" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2021- Transport Assistant.  All rights reserved.</p>
                </div>
            </div>


        </div>
    </div>
</footer>